#                                              assigment

task 1 Q1)

In [5]:
x = 10
x

10

Q2)

In [1]:
for i in range(2000,3201):
    if (i%7==0) and not(i%5==0):
        print(i,end=',')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [2]:

fname = input(print('enter first name:'))
lname = input(print('enter last name:'))
print (lname+" "+fname)

enter first name:
Nonepreran
enter last name:
Nonem
m preran

Q3)

In [7]:
diameter = 12 #given from question 
radius = diameter/2 
volume = float((4/3)*3.14*radius*radius*radius)
print ('volume of sphere is '+str(volume))

volume of sphere is 904.3199999999998

task 2 Q1)

In [4]:
values = input("Input some comma seprated numbers : ")
list = values.split(",")
print(list)

Input some comma seprated numbers : 3,4,5,6
['3', '4', '5', '6']

Q2)

In [4]:
for i in range (0, 5):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range (5, 0, -1):
    for j in range(0, i -1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

Q3)

In [1]:
string = input(print ('enter a string:'))
string1 = ""
i = 0
while i < len(string):
    string1 =  string[i]+string1
    i=i+1
print(string1)

enter a string:
Noneyoyo
oyoy

In [8]:
''' 'WE, THE PEOPLE OF INDIA,' 'having solemnly resolved to constitute India into a SOVEREIGN,' 'SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC' 'and to secure to all
its citizens' '''

" 'WE, THE PEOPLE OF INDIA,' 'having solemnly resolved to constitute India into a SOVEREIGN,' 'SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC' 'and to secure to all\nits citizens' "